# =========================================================================
# Frontend Specific (React / Vite / Node)
# =========================================================================
# Ignore the dependencies folder
frontend/node_modules/
packages/node_modules/

# Ignore production build outputs
frontend/dist/
frontend/build/

# Ignore local environment variable files (where secrets are kept)
frontend/.env