
   
body{

    font-family:Manrope,sans-serif;

    background:#fff8f5;

    color:#27180e;
}

.browse-page-CLP{
    margin:0;
    padding:0;
    box-sizing:border-box;
    max-width:1400px;

    margin:auto;

    padding:60px;

}

.hero-CLP{

    margin-bottom:50px;

}

.hero-CLP h1{

    font-size:48px;

    color:#002319;

    margin-bottom:15px;

    font-family:"Playfair Display",serif;

}

.hero-CLP p{

    max-width:700px;

    line-height:1.7;

    color:#666;

    font-size:18px;

}

.browse-container-CLP{

    display:flex;

    gap:40px;

}

.vendor-section-CLP{

    flex:1;

}

.vendor-top-CLP{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.vendor-top-CLP select{

    padding:10px 16px;

    border:1px solid #ddd;

    border-radius:8px;

    background:white;

}

.vendor-grid-CLP{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));

    gap:25px;

}@media(max-width:992px){

    .browse-container-CLP{

        flex-direction:column;

    }

}@media(max-width:600px){

    .browse-page-CLP{

        padding:20px;

    }

    .hero-CLP h1{

        font-size:36px;

    }

}